<% let pageId  = 'contact' ;%>
<% function get_link(select){
  return jsonData.pages[select].url
}  ;%>
<!-- ヘッダー -->
<%- include('./_template/_header',{pageId:pageId}) ;%>
<!-- MV -->
<%- include('./_template/_mv',{pageId:pageId}) ;%>

<!-- VISION -->
<section class="p-about-policy">
  <div class="p-about-policy_container">
    <article class="p-about-policy_textbox">
      <h2 class="p-about-policy_title">VISION</h2><!-- /.p-about-policy_title -->
      <h3 class="p-about-policy_subtitle">デザインで人を笑顔にする会社</h3><!-- /.p-about-policy_text -->
      <p class="p-about-policy_text">
        私達のデザインで人が笑顔になる。
        <span> そんなデザインを目指しています。</span>
        <span> 私達が考える人を笑顔にできるデザインとは、
          デザインが課題を適切に解決ができているかどうか。 </span>
        <span> ビジュアルだけではなく、<br>
          本当に求められているものは何かを考え抜いて、<br>
          デザインしていきたい。</span>
        <span> 誰かの幸せを創ることも、<br>
          世界の常識を変えていくことだってできる。</span>
        <span> 私達はデザインの力を信じています。</span>
      </p><!-- /.p-about-policy_text -->
    </article><!-- /.p-about-policy_textbox -->
  </div><!-- /.p-about-policy_container -->
</section><!-- /.p-about-policy -->
<!-- CEO MESSAGE -->
<section class="p-about-message">
  <div class="p-about-message_container">
    <figure class="p-about-message_image">
      <img src="./images/about-message.png" alt="社長のメッセージを解説中の女性">
    </figure><!-- /.p-about-message_image -->
    <article class="p-about-message_textbox">
      <h2 class="p-about-message_title">CEO MESSAGE</h2><!-- /.p-about-message_title -->
      <p class="p-about-message_text">
        良いデザインは人を幸せにする。
        <span> 私達はそう信じています。</span>
        <span>
          デザインを通して、ビジネスの課題とユーザーの課題を解決することで、世の中を幸せにしていきたい。</span>
        <span> 現在はあらゆるプロダクトがデジタル化されており、デザイナーに対する需要はますます高まっています。それとともに、期待される役割も幅広くなりつつあります。</span>
        <span> クリエイティブで社会の可能性を切り開いていく。</span>
        <span> 変化の激しい現代、私達はデザインの力で社会を良い方向に変革していく企業を目指していきます。</span>
      </p><!-- /.p-about-message_text -->
    </article><!-- /.p-about-message_textbox -->
  </div><!-- /.p-about-message_container -->
</section><!-- /.p-about-message -->
<!-- COMPANY -->
<section class="p-about-company">
  <div class="p-about-company_container">
    <h2 class="p-about-company_title">COMPANY</h2><!-- /.p-about-company_title -->
    <dl class="p-about-company_list">
      <dt class="p-about-company_term">社名</dt><!-- /.p-about-company_term -->
      <dd class="p-about-company_desc">株式会社DIGSMILE</dd><!-- /.p-about-company_desc -->
      <dt class="p-about-company_term">代表取締役</dt><!-- /.p-about-company_term -->
      <dd class="p-about-company_desc"><%= jsonData.siteInfo.author ;%></dd><!-- /.p-about-company_desc -->
      <dt class="p-about-company_term">設立</dt><!-- /.p-about-company_term -->
      <dd class="p-about-company_desc"><%= jsonData.siteInfo.establish ;%></dd><!-- /.p-about-company_desc -->
      <dt class="p-about-company_term">資本金</dt><!-- /.p-about-company_term -->
      <dd class="p-about-company_desc">1万円</dd><!-- /.p-about-company_desc -->
      <dt class="p-about-company_term">所在地</dt><!-- /.p-about-company_term -->
      <dd class="p-about-company_desc"><%= jsonData.siteInfo.place ;%></dd><!-- /.p-about-company_desc -->
      <dt class="p-about-company_term">電話番号</dt><!-- /.p-about-company_term -->
      <dd class="p-about-company_desc"><%= jsonData.siteInfo.tel ;%></dd><!-- /.p-about-company_desc -->
    </dl><!-- /.p-about-company_list -->
    <div class="p-about-company_google-map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.3117311335195!2d139.70119185071422!3d35.693945736784976!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188cd99bfa9a57%3A0xf91eebb5b90ddb36!2z5paw5a6_5Yy65b255omA!5e0!3m2!1sja!2sjp!4v1650417170586!5m2!1sja!2sjp" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div><!-- /.p-about-company_google-map -->
  </div><!-- /.p-about-company_container -->
</section><!-- /.p-about-company -->

<!-- フッター -->
<%- include('./_template/_footer',{pageId:pageId}) ;%>