<% let title =  jsonData.pages[pageId].name ;%>
<% let description = jsonData.pages[pageId].description ;%>

<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="<%= description ;%>">
  <meta name="robots" content="noindex">
  <title><%= title ;%>|デザインで人を笑顔にする会社</title>
  <!-- ファビコン -->
  <link rel="icon" href="./images/favicon.svg" />
  <!-- googlefonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Noto+Sans+JP:400,700&display=swap" rel=" stylesheet ">
  <!-- スタイルシート -->
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <!-- loading画面 -->
  <div id="c-loading" class="c-loading">
    
  </div>
  <!-- コンテンツ -->
  <header class="l-header">
    <div class="l-header_container">
      <a href="./<%= jsonData.pages['home'].url ;%>" class="l-header_logo">
        <img src="./images/site-logo.png" alt="DIGSMILE会社ロゴ"><!-- /.l-header-logo -->
      </a>
      <div class="l-header_btn">
        <div class="c-drawer_btn">
          <span></span>
          <span></span>
          <span></span>
        </div><!-- /.c-drawer-btn -->
      </div><!-- /.l-header_btn -->
      <nav class="l-header_nav">
        <div class="l-header_nav-bg">
          <!-- 半透明背景 -->
        </div><!-- /.l-header_nav-bg -->
        <ul class="l-header_nav-list">
          <% for(let page in jsonData.pages){ %>
          <% if(page === "home"){ %>
          <li class="l-header_nav-logo">
            <a href="./<%= jsonData.pages[page].url %>'><img src=./images/logo-icon.svg" alt="サイトロゴ"></a>
          </li><!-- /.l-header_nav-list -->
          <% }else{ %>
          <li class="l-header_nav-item">
            <a href="./<%= jsonData.pages[page].url %>"><%= jsonData.pages[page].name %></a>
          </li><!-- /.l-header_nav-item -->
          <% }%>
          <% };%>
        </ul><!-- /.l-header-nav_list -->
    </div><!-- /.l-header_container -->
    </nav><!-- /.l-header-nav -->
  </header><!-- /.l-header -->
  <main class="main">