<section class="p-<%= pageId ;%>-mv">
  <div class="p-<%= pageId ;%>-mv_bg">
    <div class="p-<%= pageId ;%>-mv_image scroll-checkPoint1">
      <!-- 写真背景の空要素 -->
    </div><!-- /.p-<%= pageId ;%>-mv-image -->
    <div class="p-<%= pageId ;%>-mv_shadow scroll-checkPoint2">
      <!-- 灰色の空要素 -->
    </div><!-- /.p-<%= pageId ;%>-mv_bg -->
  </div><!-- /.p-<%= pageId ;%>-mv_bg -->
  <div class="p-<%= pageId ;%>-mv_container">
    <div class="p-<%= pageId ;%>-mv_textbox">
      <p class="p-<%= pageId ;%>-mv_subtitle"><%- jsonData.pages[pageId].subtitle ;%></p><!-- /.p-<%= pageId ;%>-mv_subtitle -->
      <h1 class="p-<%= pageId ;%>-mv_title"><%- jsonData.pages[pageId].copy ;%></h1><!-- /.p-<%= pageId ;%>-mv_title -->
    </div><!-- /.p-<%= pageId ;%>-mv_textbox -->
  </div><!-- /.p-<%= pageId ;%>-mv_container -->
</section><!-- /.p-<%= pageId ;%>-mv -->